body{
    background-color: #F8FAF2;
    font-size: 20px;
    user-select: none;
}
.cont {
    position: absolute;
    top:25vh;
    left:35vw;
    background-color: #49969634;
    width:37vw;
    height:50vh;
    border-radius: 10px ;
    box-shadow: 1px 1px 10px #000;
}
h2 {
    color:#8d042f;
    margin-top: 7%;
    text-align: center;
}
form {
    position: absolute;
    top:37%;
    left: 18%;
}
form input{
    display: block;
    margin-bottom: 2vh;
    margin-top: 1.5vh;
}
.btn:hover {
    opacity: 0.8;
}
.cont .btns{
    margin-top:5vh ;
}
.cont form .btns .btn{
    background-color:#1d0341;
    color:rgb(232, 232, 241);
    border-radius: 5px ;
    width:5vw;
    height:4vh;
    margin-left:4vw;
}
.cont .txt{
    border: none;
    border-radius: 5px ;
    outline: none;
    width: 25vw;
    height: 3.5vh;
    box-shadow: 1px 1px 10px#000;  
}
