body{
    background-color: #F8FAF2;
    font-size: medium;
    user-select: none;
}
div {
    background-color: #49969634;
    width:50vh;
    height:45vh;
    margin-top:10%;
    margin-left:32%;
    border-style: groove;
    border-radius: 4px ;
}
h2 {
    color:#1d0341;
    margin-left:30%; 
    margin-top:10%;
    padding-top: 3.5%;
}
form {
    margin-left:30%; 
    margin-top:5%;
}
button:hover {
    opacity: 0.8;
}
.txt .save{
    background-color:#1d0341;
    color:rgb(232, 232, 241);
    border-radius: 3px ;
    margin-left:21%;
}
.txt .reset{
    background-color:#1d0341;
    color:rgb(232, 232, 241); 
    border-radius: 3px ;
}
.txt .back{
    background-color:#1d0341;
    color:rgb(232, 232, 241);
    margin-left:23%;
    border-radius: 3px ;
}
.txt .txt{
    border: none;
    border-radius: 5px ;
}
