html{
    scroll-behavior: smooth;
    transition: all 1s;
}
*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #F8FAF2;
    font-size: 22px;
    user-select: none;
}

.header {
    background-color: #3f51b5;
    color: #ddd;
    height: 90px;
  }
  
  .logo {
    display: inline-table;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
  
  }

  
.reg{
    position: absolute;
    top: 12vh;
    left:30vw;
    background: #49969634;
    width: 40vw;
    height: 90vh;
    border-radius: 10px;
    color:#1d0341;
    border:1px solid;
    box-shadow: 1px 1px 10px  #000;
    margin-top: 20px;
}
.reg form .txt{
    display: block;
    margin: 10px 0;
    padding: .3vw;
    width:80%;
    height:3vh;
    outline:none;
    border: none;
    border-radius: 4px ;
    box-shadow: 2px 2px 5px #000;
    transition: all .5s
}
.reg form .txt:active{
    background-color: #1d0341;
}
.reg form {
    width: 100% ;
    margin: 2% 0 0 10%;

}
.image{
    position: absolute;
    top: 30vh;
    left:42vw;
    width: 30vw;
    height: 70vh;
    border-radius: 10px;
}
.image img{
    border-radius: 10px;
    width: 100%;
    box-shadow: 2px 2px 10px #49969634;
    
}
.reg form a{
    text-decoration: none;
    color:#4644ec;
    display: block;
    text-align: center;
    text-transform: capitalize;
    margin-right: 2vw;
}
.reg form a:active{
    color:#d9dae7 ;
}

.reg form .pol{
    text-decoration: underline;
    color: #4644ec;
    cursor: pointer;
    margin: 2vh 0;
    
}

.reg form .btns{
    width: 80%;
    margin: 2vh;

}
.reg form .btns .btn{
    width: 7vw;
    height:4vh;
    border: none;
    outline: none;
    background:#1d0341;
    color:#fff;
    cursor: pointer;
    border-radius: 5px;
    margin: 3vh 0;
    transition: all .5s;
    box-shadow:2px 2px 15px #7a7a78;
}

.reg form .btns .btn:hover{
    background-color: #F8FAF2;
    color:#000;
}
.reg form .btns .btn:last-of-type{
     margin-left: 10vw;
}
.reg form select{
    width: 35%;
    height:3.2vh;
    outline: none;
    border: none;
    border-radius: 5px;
    text-align: center ;
    letter-spacing: 3px;
    font:bold;
    margin:4vh 0 0 .7vw  ; 
    padding: .3vw;
    box-shadow: 2px 2px 10px #000;
    transition: all .5s;
    cursor: pointer;
}

.reg form .check{
    display: block;
}


.reg h1{
    text-align: center;
    margin-top: 5vh;
}
.reg form label:last-child{
    display: block;
}
.cover{
    position: relative;
    z-index: 55;
    width: 100vw;
    height:100vh;
    background-color: #00000094;
    display: none;
}
.popUp{
    z-index: 100;
    width: 30vw;
    height:50vh;
    background-color: #49969683;
    position:absolute;
    left: 33vw;
    top:25vh;
    border-radius: 7px;
    box-shadow: 1px 1px 10px #000;
    color:#e8dff0 ;
    text-align: center;
    padding: 5px;
}
.popUp h1{
    color:rgb(245, 148, 148);
    text-decoration: underline;
    text-transform: capitalize;
}
.popUp .poli{
    margin-top: 8vh;
}
.popUp .btn{
    width: 7vw;
    height:4vh;
    border: none;
    outline: none;
    background:#1d0341;
    color:#fff;
    cursor: pointer;
    border-radius: 5px;
    margin: 3vh 0;
    transition: all .5s;
    box-shadow:2px 2px 15px #7a7a78;
}
.popUp .btn:hover{
    background-color: #F8FAF2;
    color:#000;
}